@media (max-width: 1340px)
{
       #testimonial::before
       {
        left:0px;
        content: "";
        position: absolute;
        background: #05004f;
        height: 1060px;
        width: 100%;
        z-index: -1;
        opacity:0.89;
       }

       .testimonials
       {
           flex-direction: column;
           margin: auto;
       }

       .testimonial-common
       {
           /* margin: 0px auto; */
           width: 80vw;
       }
}

@media (max-width: 1260px)
{
    #list
    {
        display: none;
    }

    #hamburger-img
    {
        display: block;
        position: absolute;
        float: right;
        top: 30px;
        height: 40px;
        width: auto;
    }
}

@media (max-width: 1100px)
{

    .container
    {
        flex-direction: column;
    }

    .container::before
    {
        left:0px;
    content: "";
    position: absolute;
    background: #05004f;
    height: 700px;
    top:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    }

    #container-content
    {
        margin: auto;
        text-align: center;
    }

    #container-content h1
    {
        font-size: 2rem;
    }

    #btnContact
    {
        margin: 15px 20px;
    }
    #office-img
    {
        height: 100%;
        width: 100%;
    }


}

@media (max-width: 1099px)
{

    #navbar
    {
        position: static;
    }
    #logo
    {
        height: 100px;
    width: auto;
    margin: 10px auto;
    border-radius: 20px;
    }
    
    #office-img
    {
        height: 200px;
        width: auto;
    }

    .container
    {
        margin: 30px auto;
    }

    .container::before
    {
        left:0px;
    content: "";
    position: absolute;
    background: #05004f;
    height: 590px;
    top:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    }



    .testimonial-common
    {
        padding: 10px;
    }

    .work1
    {
        flex-direction: column;
    }

    #work1-img
    {
      margin: auto;
      height: 200px;
      width: auto;
    }

    .para-work1
    {
        padding: 10px 20px;
        margin: 10px auto;
        font-size: 20px;
    }

    .work2
    {
        flex-direction: column;
    }

    #work2-img
    {
      margin: auto;
      height: 200px;
      width: auto;
    }

    .para-work2
    {
        padding: 10px 20px;
        margin: 10px auto;
        font-size: 20px;
    }

    .work3
    {
        flex-direction: column;
    }

    #work3-img
    {
      margin: auto;
      height: 200px;
      width: auto;
    }

    .para-work3
    {
        padding: 10px 20px;
        margin: 10px auto;
        font-size: 20px;
    }

    #connect
    {
        flex-direction: column;
    }

    #connect::before 
    {
        height: 100px;
    }

    #img-work4
    {
        margin: auto;
        height: auto;
        width: 300px;
    }


}


@media (min-width: 620px) and (max-width: 1099px)
{
    #logo
    {
        height: 100px;
    width: 200px;
    margin: 10px auto;
    border-radius: 20px;
    }

    #hamburger-img
    {
        display: block;
        position: absolute;
        float: right;
        top: 30px;
        height: 40px;
        width: auto;
    }

    #testimonial::before
    {
        left:0px;
        content: "";
        position: absolute;
        background: #05004f;
        height: 960px;
        width: 100%;
        z-index: -1;
        opacity:0.89;
    }

    .h-testimonial
    {
        font-size: 35px;
    }
}

@media (min-width: 400px) and (max-width: 620px)

{
    #logo
    {
        height: 60px;
    width: 100px;
    margin: 10px auto;
    border-radius: 20px;
    }
    .container::before
    {
        left:0px;
    content: "";
    position: absolute;
    background: #05004f;
    height: 550px;
    top:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    }
       
    #testimonial::before
          {
            left:0px;
            content: "";
            position: absolute;
            background: #05004f;
            height: 1190px;
            width: 100%;
            z-index: -1;
            opacity:0.89;
          }

           
    .h-testimonial
    {
        font-size: 35px;
    }

    .testimonial-common h1
    {
        font-size: 25px;
        /* margin-top: 15px; */
    }

    .testimonial-common h2
    {
        font-size: 20px;
    }

    #connect::before
    {
        height: 200px;
    }
}


@media (max-width: 400px)
{

    #logo
    {
        height: 50px;
    width: 100px;
    margin: 10px auto;
    border-radius: 20px;
    }

    .container::before
    {
        left:0px;
    content: "";
    position: absolute;
    background: #05004f;
    height: 600px;
    top:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    }

    #testimonial::before
       {
        left:0px;
        content: "";
        position: absolute;
        background: #05004f;
        height: 1320px;
        width: 100%;
        z-index: -1;
        opacity:0.89;
       }

       .h-testimonial
    {
        font-size: 35px;
    }

    .testimonial-common h1
    {
        font-size: 25px;
    }

    .testimonial-common h2
    {
        font-size: 20px;
    }
}

@media (max-width: 610px)
{
    #footer::before
    {
        height: 92%;
    }
    #footer-list
    {
        flex-wrap: wrap;
    }

    #social-media
    {
        flex-wrap: wrap;
    }
}

